<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pdd.dao.commentDao">
	<!-- 新增评论 -->
	<insert id="addcomment" parameterType="com.pdd.bean.comment">
		insert into comment(content,author,publishTime,state,isdelete)values(#{content},#{author.sid},#{publishTime},1,0);
	</insert>
	<!-- 映射评论 -->
	<resultMap type="com.pdd.bean.comment" id="comment" autoMapping="true">
		<id column="cid" property="cid"/>
        <association column="author" property="author" javaType="com.pdd.bean.User">
        		<result column="sid" property="sid" />
                <result column="snickname" property="snickName" />
                <result column="userHead" property="userHead" />
        </association>
        <collection column="cid" property="comments" ofType="com.pdd.bean.comments" select="getcomments" fetchType="eager">
        </collection>
	</resultMap>
	<!-- 查询评论 -->
	<select id="getcomment" resultMap="comment">
		select cid,content,author,publishTime,state,snickname,userHead,sid from comment c inner join user u on u.sid=c.author where isdelete=0 and state=1 order by publishTime desc
	</select>
	<!-- 映射回复评论 -->
	<resultMap type="com.pdd.bean.comments" id="comments" autoMapping="true">
		<id column="cids" property="cids"/>
		 <association column="replyAuthor" property="replyAuthor" javaType="com.pdd.bean.User">
        		<result column="u1sid" property="sid" />
                <result column="u1snickname" property="snickName" />
                <result column="u1userhead" property="userHead" />
        </association>
         <association column="bereplyAuthor" property="bereplyAuthor" javaType="com.pdd.bean.User">
        		<result column="u2sid" property="sid" />
                <result column="u2snickname" property="snickName" />
                <result column="u2userhead" property="userHead" />
        </association>
	</resultMap>
	<!-- 查询回复评论 -->
	<select id="getcomments" resultMap="comments">
		select cids,cid,state,publishTime,content,bereplyAuthor,replyAuthor,u1.sid as u1sid,u1.snickname as u1snickname,u1.userHead as u1userhead,u2.sid as u2sid,u2.snickname as u2snickname,u2.userHead as u2userhead from comments cs inner join user u1 on u1.sid=cs.replyAuthor inner join user u2 on u2.sid=cs.bereplyAuthor where isdelete=0 and state=1
		and cid=#{cid} order by cs.publishTime 
	</select>
	
	<!-- 回复评论 -->
	<insert id="addcomments" parameterType="com.pdd.bean.comments">
		insert into comments(replyAuthor,bereplyAuthor,content,publishTime,isdelete,state,cid)values(#{replyAuthor.sid},#{bereplyAuthor.sid},#{content},#{publishTime},0,1,#{cid})
	</insert>
</mapper>