<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pdd.dao.newsDao">
	<!-- 查询博客最新发布 -->
	<resultMap type="com.pdd.bean.news" id="selectNews" autoMapping="true">
		 <id column="nid" property="nid"/>
        <association column="author" property="author" javaType="com.pdd.bean.User">
                <result column="sname" property="sname" />
        </association>
        <association column="news_type" property="news_type" javaType="com.pdd.bean.news_type">
            <result column="tname" property="tname" />
        </association>
	</resultMap>
	<!-- 首页查文章 -->
	<select id="getbooks" resultType="com.pdd.bean.news" resultMap="selectNews">
		select nid,title,sname,tname,status,publishtime,url,imgurl,news_type,ishot,istop,descs,seecount from news n inner join user u on u.sid=n.author inner join news_type ns on ns.tid=n.news_type order by nid
	</select>
	<!-- 发布文章 -->
	<insert id="addNews" parameterType="com.pdd.bean.news">
		insert into news(title,author,status,canSee,publishTIme,url,imgUrl,news_type,ishot,istop,keyword,descs,seecount)
		values(#{title},#{author.sid},#{status},#{cansee},#{publishtime},#{url},#{imgUrl},#{news_type.tid},#{ishot},#{istop},#{keyword},#{descs},default)
	</insert>
	
	<!-- 热门文章 -->
	<select id="getHot" resultType="com.pdd.bean.news">
		select url,imgurl,title,publishTime,seecount from news order by seecount desc limit 1,5
	</select>
</mapper>
