<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pdd.dao.newsDao">
	<!-- 查询博客最新发布 -->
	<resultMap type="com.pdd.bean.news" id="selectNews" autoMapping="true">
		 <id column="nid" property="nid"/>
        <association column="author" property="author" javaType="com.pdd.bean.User">
                <result column="snickname" property="snickName" />
        </association>
        <association column="news_type" property="news_type" javaType="com.pdd.bean.news_type">
            <result column="tname" property="tname" />
        </association>
	</resultMap>
	<!-- 首页查文章 -->
	<select id="getbooks" resultType="com.pdd.bean.news" resultMap="selectNews">
		select nid,title,snickname,tname,publishtime,url,imgurl,news_type,istop,descs,seecount,visible from news n inner join user u on u.sid=n.author inner join news_type ns on ns.tid=n.news_type 
		where isdelete=0
		<if test="''!=type and null!=type">
			 AND ns.tname=#{type}
		</if>
		<if test="''!=canSee and null!=canSee">
			 AND  n.visible = 1
		</if>
		<if test="''!=keyword and null!=keyword">
			 AND  n.title like concat('%',concat(#{keyword},'%'))
		</if>
	</select>
	<!-- 发布文章 -->
	<insert id="addNews" parameterType="com.pdd.bean.news" keyProperty="nid" useGeneratedKeys="true" keyColumn="nid">
		insert into news(title,author,visible,publishTIme,url,imgUrl,news_type,istop,keyword,descs,seecount,isdelete,content)
		values(#{title},#{author.sid},#{visible},#{publishtime},#{url},#{imgUrl},#{news_type.tid},#{istop},#{keyword},#{descs},default,0,#{content})
	</insert>
	<!-- 热门文章 -->
	<select id="getHot" resultType="com.pdd.bean.news">
		select url,imgurl,title,publishTime,seecount from news where isdelete=0 and visible = 1 order by seecount desc limit 0,3
	</select>
	<!-- 修改文章可见 -->
	<update id="updateNewsVisible">
		update news set visible=#{status} where nid=#{nid}
	</update>
	<!-- 修改文章置顶 -->
	<update id="updateNewsIstop">
		update news set istop=#{status} where nid=#{nid}
	</update>
	<!-- 删除文章 -->
	<delete id="deleteNews">
		update news set isdelete=1 where nid in 
		 <foreach item="item" collection="list" index="index" open="(" separator="," close=")">  
              #{item} 
         </foreach>  
	</delete>
	<!-- RSS订阅查询 -->
	<select id="getNewsRSS" resultType="com.pdd.bean.news">
		select title,publishTime,url,content from news order by nid desc limit 1,10
	</select>
</mapper>
