@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, button, input, fieldset, legend, input, textarea, p, blockquote, th, td, article, aside, details, figcaption, figure, #footer, #header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}
#gotop{
	cursor: pointer;
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 99999;
    display: block;
    width: 50px;
    height: 50px;
    opacity: 0.5;background: url(/static/imgs/backtop.png) no-repeat 0 0;
}
#gotop:HOVER{
	background: url(/static/imgs/backtop.png) no-repeat 0 -52px;
}
.comment{
	margin: 10px 0px 10px 0px;
}
.comment-input{
	padding:5px;
	font-size:12px;
	width: 90%;
	vertical-align: middle;
}
.publish-comment{
	float: right;
}
.publish-comment button{
	margin-top:5px;
	margin-right: 43px;
	border: 0;
	width: 100px;
	height: 35px;
	font-size: 12px;
	padding: 5px;
	background-color: #5cb85c;
	color: white;
}
.publish-comment button:hover{
	background-color: red;
}
.comment-buttom{
	border-top: 1px solid #cccccc;
	margin: 50px 0px 8px 0px;
	font-size: 12px;
}
.comments-left img{
	width: 40px; 
	height: 40px;
	border-radius:100%;
	vertical-align: middle;
}
.comments-left{
	float: left;
	margin-right: 5px;
}
.comment-top{
	font-size: 12px;
}
.comments-top font{
	color: #5188a6;
}
.comments-top span{
	color: #cccccc;
}
.comments-rigth{
	line-height: 30px;
}
.comments{
	border-bottom: 1px solid #cccccc;
	margin-top: 20px;
}
.comments-content{
	text-indent: 0.5em;
}
.comments-publishTime{
	margin-bottom: 20px;
}
.comment-reply{
	text-align: right;
}
.reply-buttom{
	width: 95%;
}
.comment-reply button{
	margin-right: -2px;
	margin-top:2px;
	background-color: #5cb85c;
    color: white;
    font-size: 12px;
    padding: 5px;
    border: 0;
    width: 100px;
    height: 35px;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, button, input, textarea, p, span, th, td, article, aside, nav, section, img, a {
    outline: none;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

html, body {
    color: #444;
    overflow-x: hidden;
    background-color:#f8f8ee;
    padding-right: 0 !important;
}

/*页面滚动条*/
html::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: #CCC;
}

html::-webkit-scrollbar-button {
    display: none;
}

html::-webkit-scrollbar-track-piece {
    display: none;
}

html::-webkit-scrollbar-thumb {
    background: #999;
}

html::-webkit-scrollbar-thumb:hover {
    background: #3399CC;
}

/*公共*/
a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    display: list-item;
    list-style: none;
    text-align: -webkit-match-parent;
}

li.active {
    background: #FFF;
    opacity: .9;
    filter: alpha(opacity=90);
}

button.close:hover span {
    -moz-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.btn-default {
    border-color: #DDD;
    color: #666;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    border-color: #BBB;
    color: #444;
}

.btn-primary {
    background-color: #3399CC;
    border-color: #3399CC;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #3399CC;
    border-color: #3399CC;
    opacity: 0.85;
    filter: alpha(opacity=85);
}

.btn-danger {
    background-color: #FF5E52;
    border-color: #FF5E52;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background-color: #EF4639;
    border-color: #EF4639;
}

/*button.disabled {
	cursor: no-drop;
	background-color: #3c3c3c;
}*/
body, input, button, textarea, select {
    font-family: "Microsoft YaHei", "微软雅黑", "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

.title, .pagetitle {
    margin-bottom: 10px;
    overflow: hidden;
}

.title h3, .pagetitle h1, .pagetitle h2 {
    font-size: 20px;
    margin: 0;
    float: left;
    cursor: pointer;
}

.title h3:hover {
    color: #F73B3B;
}

.title .more {
    float: right;
    position: relative;
    top: 5px;
}

.title .more a {
    display: inline-block;
    margin-left: 20px;
    color: #999;
}

.title .more a:hover {
    color: #3399CC;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/*定义字体*/
@font-face {
    font-family: 'TaurusNormal';
}


.container {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
}

/*内容*/
.content-wrap {
    width: 100%;
    float: left;
}


/*焦点图*/
.carousel-indicators {
    bottom: 6px;
}

.carousel {
    margin-bottom: 15px;
    z-index: 1;
}

.carousel-inner {
    width: 100%;
    max-height: 400px;
}

.carousel-inner .item a {
    display: block;
    text-align: center;
}

.carousel-inner .item img {
    margin: 0 auto;
    border-radius: 4px;
}

.carousel-control.left, .carousel-control.right {
    background: none;
}

.carousel-control {
    width: 40px;
    height: 80px;
    top: 50%;
    margin-top: -40px;
}

.carousel-control:hover {
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    color: #fff;
}

.container-email {
    min-height: 520px;
}

.container-email .error-msg {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.error-msg p {
    color: #912D2B;
}

.error-msg span:before {
    content: '•';
}

.input-error {
    border-color: red;
}



/*最新发布*/
.excerpt {
    clear: both;
    border: 1px solid #EAEAEA;
    padding: 20px 20px 20px 255px;
    overflow: hidden;
    background-color:#f8f8ee;
}

.excerpt:hover {
    border-color: #42B5EF;
    position: relative;
    z-index: 20;
}

.excerpt-1 {
    border-radius: 4px 4px 0 0;
}

.excerpt .focus {
    float: left;
    margin-left: -235px;
    width: 220px;
}

.excerpt .thumb {
    border-radius: 5px;
    width: 200px;
    height: 140px;
    overflow: hidden;
}

.excerpt img {
    display: inline;
}

.excerpt .focus:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.excerpt header {
    margin-bottom: 10px;
}

.excerpt .cat {
    color: #FFF;
    /*background-color: #3399CC;*/
    background-color: #d9534f;
    padding: 3px 6px;
    font-size: 12px;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 6px;
}

.excerpt .cat:hover {
    opacity: .8; /*background-color: #3EBBF9;*/
}

.excerpt .cat i {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: -4px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    /*border-left: 4px solid #3399CC;*/
    border-left: 4px solid #d9534f;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.excerpt h2 {
    display: inline;
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    font-weight: bold;
}

.excerpt h2 a {
    color: #555;
}

.excerpt h2 a:hover {
    color: #3399CC;
}

.excerpt .meta {
    color: #999;
    font-size: 12px;
    margin-bottom: 10px;
}

.excerpt .time, .excerpt .comment, .excerpt .views {
    cursor: pointer;
    margin-right: 20px;
}

.excerpt .time:hover, .excerpt .comment:hover, .excerpt .views:hover {
    color: #3399CC;

}

.excerpt .meta a {
    color: #999;
}

.excerpt .note {
    font-size: 12px;
    color: #999;
    word-wrap: break-word;
    line-height: 20px;
    cursor: default;
}





/*侧边栏*/
.sidebar {
    float: left;
    margin-left: -360px;
    width: 360px;
    position: relative;
    margin-top: 22px;
}

.widget {
    clear: both;
    position: relative;
    margin-bottom: 15px;
    background-color:#f8f8ee;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    overflow: hidden;
}

.widget h3 {
    font-size: 18px;
    color: #666;
    border-bottom: 1px solid #eaeaea;
    background-color:#f8f8ee;
    margin: 0;
    padding: 11px 15px 10px;
    cursor: default;
}

.widget h3:hover {
    cursor: pointer;
    color: #F73B3B;
}


/*侧边栏搜索*/
.form-control {
    padding: 5px 5px 5px 10px;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.form-control:focus {
    border: #3399CC solid 1px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.btn-search {
    border-radius: 0px;
    background: #3399CC;
    color: #FFF;
    border: #3399CC solid 1px;
}
.btn-search:hover {
    background: #FFF;
    color: #3399CC;
    border: #3399CC solid 1px;
}
/*侧边栏热门文章*/
.widget_hot li a {
    padding: 10px 15px 10px 150px;
    color: #888;
    border-bottom: solid 1px #eee;
    overflow: hidden;
    position: relative;
    display: block;
    font-size: 14px;
}

.widget_hot li a:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.widget_hot .thumbnail {
    float: left;
    margin-left: -135px;
    border: none;
    margin-bottom: 0;
}

.widget_hot .thumbnail img {
    width: 115px;
    height: 80px;
}

.widget_hot .text {
    display: block;
    margin-top: 20px;
}

.widget_hot li a:hover .text {
    color: #3399CC;
}

.widget_hot .muted {
    margin-right: 15px;
    font-size: 12px;
    color: #BBB;
}

/*侧边统计栏*/
.widget_statistics ul {
    overflow: hidden;
    padding: 15px;
    line-height: 26px;
    color: #888;
}

.widget_statistics li {
    float: left;
    width: 50%;
}

.widget_statistics li strong {
    color: #555555;
}

/*侧边标签栏*/
.widget-tags ul {
    overflow: hidden;
    padding: 15px;
    line-height: 26px;
    color: #888;
}

.widget-tags ul li {
    float: left;
    margin: 2px;
}

.widget-tags ul li a {
    line-height: 22px;
}

/*文章头部*/
.article-header {
    padding: 25px 0;
    /*padding:5px 0;*/
    text-align: center;
}

.article-title {
    margin-top: 0;
    font-size: 26px;
    line-height: 36px;
}

.article-title a, .article-title a:hover {
    color: #555;
}

.article-meta {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}

.article-meta .item {
    margin-right: 20px;
    cursor: pointer;
}

.article-meta .item a {
    color: #666;
}

.article-meta .item a:hover {
    color: #3399CC;
}

.modal-content{
		width: 500px;
	}
#loginFrom{
	font-family: '微软雅黑'; margin: 50px; margin-top: 0px; margin-left: 105px; margin-bottom: 10px;
}

@media(min-width:1100px){
	.modal-content{
		width: 420px;
	}
	#loginFrom {
    font-family: '微软雅黑';
    margin: 0px;
    margin-top: 0px;
    margin-left: 70px;
    margin-bottom: 10px;
}
	.article-header{
		 border: 1px solid #EEE;
	}
	.article-content{
		border: 1px solid #EEE;
		border-top: 0px;
	}
	.content {
	    position: relative;
	    margin-right: 380px;
	    width: 720px;
	    float: left;
	}	
	#container{
		width: 1100px;
		margin: 0px auto;
	}
	.container{
		position: relative;
	    margin: 0 auto;
	    width: 1100px;
	    padding: 0;
	}
	.title h3{
		font-size: 12px;
	}
	.excerpt-1 {
	    border-radius: 4px 4px 0 0;
	    height: 170px;
	}
	.excerpt {
	    clear: both;
	    border: 1px solid #EAEAEA;
	    padding: 10px 10px 10px 245px;
	    overflow: hidden;
	    background-color: #f8f8ee;
	}
	.widget_hot h3{
		font-size: 12px;
	}
	
	.widget-tags h3{
		font-size: 12px;
	}
}

/*自适应模式*/
@media (max-width: 1000px) {
    .content {
        margin-right: 0;
    }
    .sidebar {
        display: none;
    }
    
}
.list-paddingleft-2{
	overflow: overlay;
}
/*自适应模式*/
@media (max-width: 480px) {
	.comments-publishTime {
   		 margin-bottom: 9px;
	}
	.reply-buttom{
		width: 100%;
	}
	.publish-comment button{
		margin-right: 10px;
	}
	.comment-input{
		margin-top: 2px;
	}
	.widget{
	    clear: both;
	    position: relative;
	    margin-bottom: 15px;
	    border-radius: 4px;
	    background-color:transparent;
	    border: 1px solid #eaeaea;
	    overflow: hidden;
	}
	.widget h3 {
	    font-size: 18px;
	    color: white;
	    border-bottom: 1px solid #eaeaea;
	    background-color:transparent;
	    margin: 0;
	    padding: 11px 15px 10px;
	    cursor: default;
	}
	.layui-hide {
		display: block!important;
	}
	.hide{
		display: none!important;
	}
	.article-title {
	    margin-top: 0;
	    font-size: 20px;
	    line-height: 20px;
	}
	.article-meta {
	    margin-top: 10px;
	    font-size: 12px;
	    color: #999;
	    margin-bottom: 10px;
	}
	.modal-content{
		width: 350px;
	}
	#loginFrom{
		font-family: '微软雅黑';
	    margin: 30px;
	    margin-top: 0px;
	    margin-left: 50px;
	    margin-bottom: 10px;
	}
	margin-left: 50px;
	.title h3{
		font-size: 12px;
	}
    .container {
        margin: 0 10px;
    }
	.excerpt header {
    	margin-bottom: 0px;
	}
	.excerpt .meta {
	    color: #999;
	    font-size: 12px;
	    margin-bottom: 0px;
	}
    .single section.container {
        margin: 0;
    }

    .single .content {
        border: none;
        padding: 0 15px;
        border-radius: 0
    }

    .article-header {
        margin-bottom: 10px;
        border-bottom: 1px solid #EEE;
    	text-align: center;
    	padding: 0px 0px;
    }

    .carousel-indicators {
        bottom: 2px;
    }

    .carousel-indicators li, .carousel-indicators li.active {
        width: 7px;
        height: 7px;
        margin: 0 1px;
    }

    .cat-first {
        padding: 10px 10px 10px 170px;
    }

    .cat-first .thumbnail {
        margin-left: -160px;
        width: 150px;
    }

    .cat-first .note {
        display: none;
    }

    .cat-first .meta .comment {
        display: none;
    }

    .cat-first h2, .excerpt-minic h2 {
        font-size: 16px;
        line-height: 20px;
    }

    .cat-posts li {
        width: 50%;
    }

    .cat-posts li a {
        padding: 10px;
    }

    .cat-posts li:nth-child(1) {
        border-radius: 0
    }

    .cat-posts li:nth-child(1), .cat-posts li:nth-child(2) {
        border-bottom: none;
    }

    .cat-posts li:nth-child(3) {
        border-left: 1px solid #eaeaea;
        border-radius: 0 0 0 4px;
    }

    .tag-clouds a {
        width: 49%
    }

    .plinks ul li {
        width: 50%;
    }

    .page-template-pagesresetpassword-php section.container {
        margin: 0;
    }

    .page-template-pagesresetpassword-php .content {
        border: none;
        padding: 0 15px;
        border-radius: 0
    }

    .page-template-pagesresetpassword-php {
        padding-top: 44px;
    }

    .page .content.resetpass {
        padding: 15px;
    }

    .resetpasssteps {
        margin: -14px -15px 15px -15px;
    }

    .resetpasssteps li {
        font-size: 12px;
        line-height: 28px;
    }

    .resetpass form {
        width: 100%;
    }

    .resetpass h3 {
        font-size: 16px;
    }

    .sign .container {
        width: 80%
    }

    .sign .close-link {
        right: 0;
        left: auto;
    }

    .sign form {
        padding: 0 20px;
    }

    .sign h3 {
        padding: 25px 20px;
        margin: 0 -20px 20px;
    }

    .sign h3 small {
        margin-right: 80px;
    }

    .pagination ul > li {
        display: none
    }

    .pagination ul > li.prev-page, .pagination ul > li.next-page {
        display: inline
    }

    .pagination ul > li.next-page a {
        background-color: #45B6F7;
        color: #fff;
    }

    .input-lg {
        height: 34px;
        border-radius: 4px;
        font-size: 14px;
        padding: 10px;
    }

    .excerpt {
        padding: 10px 10px 10px 120px;
    }

    .excerpt .focus {
        width: 100px;
        margin-left: -110px;
    }

    .excerpt .thumb {
        width: 100px;
        height: 68px;
    }

    .excerpt .note {
        display: none;
    }

    .excerpt .views {
        display: none;
    }

    .excerpt .omment {
        display: none;
    }

    .excerpt h2 {
        overflow: hidden;
        display: block;
        position: relative;
    }

    .excerpt h2:before {
        content: "";
        float: left;
        width: 5px;
    }

    .excerpt h2, .excerpt h2:before {
        height: 27px;
        font-family: -webkit-pictograph;
    }

    .excerpt h2 > *:first-child {
        float: right;
        width: 100%;
        margin-left: -5px;
    }

    .excerpt h2:after {
        content: "\02026";
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        float: right;
        position: relative;
        top: -18px;
        left: 100%;
        width: 3em;
        margin-left: -3em;
        padding-right: 5px;
        text-align: right;
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
        background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    }
}

.layui-hide {
		display:none;
	    position: fixed;
	    z-index: 100000;
	    bottom: 85px;
	    right: 25px;
	    width: 50px;
	    height: 50px;
	    line-height: 50px;
	    border-radius: 2px;
	    text-align: center;
	    color: #fff;
	    opacity: 0.5;
	    background: url(/static/imgs/backtop1.png) no-repeat 0px 0px;
	}
	.site-mobile-shade{
	content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 999;
    display: none;
}
.mobli-tab{
	position: fixed;
	right: -250px;
    z-index: 9999;
    height:100%;
    width: 250px;
    overflow-x: hidden;
    top: 0;
    background-color: rgba(0,0,0,.6);
}
#mobli-serach input{
	border:1px solid black;
	border-radius: 10px 10px 10px 10px;
	height: 25px;
	text-align: center;
	margin-right: 5px;
}
#mobli-serach{
	text-align:center;
	margin-top: 10px;
	margin-bottom: 10px;
}
#mobli-serach button{
	border: 1px solid black;
    padding: 3px 10px 3px 10px;
    color: white;
    background-color: #5bc0de;
    font-size: 12px;
}
.weather{
	text-align: center;
    margin-top: 15px;
}